body{
    text-align: center;
}
table{
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid #adadad;
    border-spacing: 1px;
}
th{
    background-color: #4caf50;
    color: white;
}

th, td{
    padding: 5px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: white;
}

tr:hover{
    background-color: #d1cccc;
}

img{
    width:150px;
}

form{
    width:50%;

    margin-top:100px;
    margin-left:auto;
    margin-right:auto;

    display: flex;
    text-align:center;
}
input{
    width:70%;
}
button{
    width:20%;
}

.btn-outline-danger{
    margin-top:50px;
}